<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="ult_robot">

    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="skid_steering_drive.xacro" />
    <xacro:include filename="lidar.xacro" />
    <!-- <xacro:include filename="camera.xacro" /> -->
    <xacro:include filename="depth_camera.xacro" />

</robot>