<?xml version="1.0"?>
<launch>
    <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>
    <env name="LIBGL_ALWAYS_INDIRECT" value="0"/>

    <!-- Argument for the RViz config file -->
    <arg name="rviz_config_file" default="$(find mobile_robot)/rviz/robot.rviz"/>

    <!-- Load URDF using Xacro -->
    <param name="robot_description" command="$(find xacro)/xacro $(find mobile_robot)/urdf/ult_robot/robot.urdf.xacro"/>

    <!-- Robot State Publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

    <!-- Joint State Publisher GUI -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui"/>

    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/> -->

    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)"/>
</launch>
